<p>Logged in</p>

<% @boards.each do |board| %>
   <%= board.name %>

   <div>
      <%= link_to edit_board_path(board), class: "" do %>
         <span>edit</span>
      <% end %>
   </div>
   <div>
      <%= link_to board_path(board), data: { "turbo-method": :delete }, class: "" do %>
         <span>delete</span>
      <% end %>
   </div>
<% end %>

